<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Knockout
 * @author    Webkul
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <preference for="AHT\Eav\Api\PostManagementInterface" type="AHT\Eav\Model\Api\PostManagement"/>
      <preference for="AHT\Eav\Api\CategoriesManagementInterface" type="AHT\Eav\Model\Api\CategoriesManagement"/>
    <!-- <type name="AHT\Eav\Model\CustomConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="custom_config_provider" xsi:type="object">AHT\Eav\Model\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type> -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eav_post_listing_data_source" xsi:type="string">AHT\Eav\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AHT\Eav\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">post</argument>
            <argument name="resourceModel" xsi:type="string">AHT\Eav\Model\ResourceModel\Post\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="AHT\Eav\Model\ResourceModel\Categories\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">categories</argument>
            <argument name="resourceModel" xsi:type="string">AHT\Eav\Model\ResourceModel\Categories\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eav_categories_listing_data_source" xsi:type="string">AHT\Eav\Model\ResourceModel\Categories\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
