<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_Eav::post" title="Eav" translate="Portfolio" module="AHT_Eav" sortOrder="50"   resource="AHT_Eav::post"/>
        <add id="AHT_Eav::index" title="Post" module="AHT_Eav" parent="AHT_Eav::post" action="eav/post/index/" resource="AHT_Eav::index" sortOrder="55" />
        <add id="AHT_Eav::category" title="Category" module="AHT_Eav" parent="AHT_Eav::portfolio" action="eav/category/" resource="AHT_Eav::category" sortOrder="55" />
    </menu>
</config>
